
body
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

    




.container
    display: grid
    grid-template-columns: 1fr 40% 40% 1fr
    grid-template-rows: 20vh auto 40vh 40vh 20vh 10vh
    

    // div 
    .header
        grid-column: 1/5
        img
            border: 1px solid black
            border-radius: 50%
            box-shadow: 0 0 10px  rgba(0,0,0,0.6)
        .navbar
            display: flex
            justify-content: space-around
            align-items: center
            height: 100%

            .logo
                margin: 0
                padding: 15px

            .navul
                display: flex
                justify-content: space-around
                list-style: none
                margin: 0
                padding: 0
                height: auto
                
                li  
                    padding: 10px
                    margin-right: 2px
                    border-bottom: 5px solid transparent
                    background-color: #ffffff
                    transition: 1s
                    &:hover
                        background-color: rgba(0,0,0,0.2)
                        border-bottom: 5px solid black
                                 
    .mainContent
        border-bottom: 1px solid black
        p
            padding: 15px
        grid-column: 2/4
    .section1
        p
            padding: 15px
        grid-column: 2/4
    .section2
        p
            padding: 15px
        grid-column: 2/4
        border-bottom: 1px solid black
    .section3
        p
            padding: 15px
        grid-column: 2/4
        
    .footer
        grid-column: 2/4
        padding: 16px
        border-radius: 12px
        border-top: dashed 3px black
    @media only screen and (max-width: 600px)
        grid-template-rows: 20vh auto auto auto auto auto //now the height of the rows autoadjust
